:root {
    --white: #fafafa;
    --blue: #004DA5;
    --black: #2b2b2b;
    --dark-grey: #666;
    --grey: #A6A6A6;
    --soft-grey: #ebebeb;
    --bg-menu: linear-gradient(90deg, #003775 0%, #004DA5 104.42%);
    --bg-sub-menu: #f8f8f840;
}
::-webkit-scrollbar {
    width: 14px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    background: #ababab;
    border: none;
}

::-webkit-scrollbar-track {
    background: #dedede;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: var(--white);
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 24px;
    z-index: 1000;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05); */
}
.navbar .nav-start {
    display: flex;
    justify-content: start;
    align-items: center;
    /* gap: 1.5rem; */
}
.navbar .nav-toggle {
    width: 40px;
}
.navbar .nav-toggle i {
    font-size: 16px;
    color: var(--black);
    cursor: pointer;
}
.navbar .nav-logo {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: .3rem;
    width: 225px;
}
.navbar .nav-logo img {
    width: 45px;
}
.navbar .nav-logo .version {
    font-size: 12px;
    font-weight: 500;
    color: var(--grey);
}
.navbar .nav-title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
.navbar .nav-title .title {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: var(--black);
}
.navbar .nav-title .title::after {
    content: '';
    position: absolute;
    top: 4px;
    right: -8px;
    height: 16px;
    width: 2px;
    background: var(--dark-grey);
}
.navbar .nav-title .sub-title {
    font-size: 14px;
    font-weight: 400;
    color: var(--grey);
}

.nav-account {
    position: relative;
}
.nav-account .container-account .account {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    background: var(--soft-grey);
    padding: 10px 20px 10px 28px;
    border-radius: 18px;
    cursor: pointer;
}
.nav-account .container-account .account .text {
    text-align: end;
}
.nav-account .detail-account .header .text .name,
.nav-account .container-account .account .text .name {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
    white-space: nowrap;
    color: var(--black);
}
.nav-account .detail-account .header .text .role,
.nav-account .container-account .account .text .role {
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    white-space: nowrap;
    color: var(--grey);
}
.nav-account .container-account .account i,
.nav-account .detail-account .header i {
    font-size: 28px;
    color: var(--dark-grey);
}
.nav-account .detail-account {
    background: #fff;
    height: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all .5s ease;
    top: 100%;
    min-width: 260px;
    border-radius: 18px;
    box-shadow: 0px 0px 14px 4px rgba(0,0,0,0.1);
}
.nav-account .container-account:hover .detail-account {
    height: auto;
    opacity: 1;
    visibility: visible;
    transition: all .5s ease;
    transform: translateY(0);
}
.nav-account .detail-account .header {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 18px 24px;
}
.nav-account .detail-account .header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fafafa;
}
.nav-account .detail-account .feature {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    gap: 14px;
    padding: 18px 24px;
}
.nav-account .detail-account .feature a {
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
}
.nav-account .detail-account .feature a i {
    width: 30px;
    font-size: 16px;
    color: var(--grey);
    transition: all .4s ease;
}
.nav-account .detail-account .feature .feature-name {
    font-size: 14px;
    font-weight: 400;
    color: var(--grey);
    transition: all .4s ease;
}
.nav-account .detail-account .feature a i,
.nav-account .detail-account .feature .feature-name:hover {
    color: var(--dark-grey);
    transition: all .4s ease;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: var(--bg-menu);
    z-index: 100;
    border-top-right-radius: 30px;
    transition: all 0.5s ease;
    margin-top: 5.5rem;
}
.sidebar.close {
    width: 68px;
}
.sidebar.close:hover {
    width: 260px;
}
.sidebar.close:hover .nav-links,
.sidebar .nav-links {
    height: 100%;
    padding: 20px 0 150px 0;
    overflow: auto;
}
.sidebar .nav-links .nav-menu,
.sidebar.close .nav-links .nav-menu {
    margin-bottom: 8px;
}
/* .sidebar .nav-links .nav-menu.active {
    width: 96%;
    border-radius: 0 30px 30px 0;
    background: var(--bg-sub-menu);
    transition: all .5s ease;
} */
.sidebar.close:hover .nav-links .nav-menu.active i,
.sidebar.close .nav-links .nav-menu.active {
    background: transparent;
}
.sidebar.close .nav-links {
    overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}
.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
/* .sidebar .nav-links li:hover {
    background: var(--bg-sub-menu);
} */
.sidebar .hideBar {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.sidebar .nav-links li .arrow-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar.close .nav-links li .arrow-link {
    display: block
}
.sidebar .nav-links .nav-icon i {
    height: 46px;
    width: 46px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-size: 20px;
    margin-left: 7px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sidebar.close .nav-links .nav-menu.active i {
    height: 46px;
    width: 46px;
    text-align: center;
    background: var(--bg-sub-menu);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-left: 7px;
    border-radius: 14px;
    transition: all .5s ease;
}
/* .sidebar.close:hover .nav-links .nav-menu.active i {
    background: transparent;
} */
.sidebar.close:hover .nav-links .nav-menu.active,
.sidebar .nav-links .nav-menu.active {
    width: 95%;
    border-radius: 0 30px 30px 0;
    background: var(--bg-sub-menu);
    transition: all .5s ease;
}
.sidebar .nav-links .nav-menu i.arrow {
    color: #fff;
    margin-left: 8px;
    font-size: 14px;
    transition: all .3s ease;
}
.sidebar.close:hover .nav-links .nav-menu.showMenu i.arrow,
.sidebar .nav-links .nav-menu.showMenu i.arrow {
    transform: rotate(-180deg);
    transition: all .3s ease;
}
.sidebar.close .nav-links i.arrow {
    display: none;
}
.sidebar.close:hover .nav-links i.arrow {
    display: block;
    opacity: 0;
    visibility: hidden;
    animation: ignielDelay .3s .4s forwards;
}
@keyframes ignielDelay {
    to {
        opacity: 1;
        visibility: visible;
    }
}
.sidebar.close:hover .nav-links li a,
.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar.close:hover .nav-links li a .nav-name,
.sidebar .nav-links li a .nav-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar.close:hover .nav-links li a .link_name,
.sidebar .nav-links li a .link_name {
    width: 160px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name {
    display: none;
}
.sidebar.close:hover .nav-links li .sub-menu,
.sidebar .nav-links li .sub-menu {
    /* padding: 6px 6px 14px 80px; */
    position: relative;
    opacity: 1;
    margin-top: -8px;
    display: none;
    transition: all .4s ease;
}
.sidebar.close:hover .nav-links .showMenu .sub-menu,
.sidebar .nav-links .showMenu .sub-menu {
    display: block;
    transition: all .4s ease;
}
.sidebar.close:hover .nav-links .showMenu .sub-menu li,
.sidebar .nav-links .showMenu .sub-menu li {
    position: relative;
    padding-left: 58px;
    transition: all .5s ease;
    /* width: 182px; */
    /* left: -21px; */
    /* left: 60px; */
}
.sidebar.close:hover .nav-links .showMenu .sub-menu li.active,
.sidebar .nav-links .showMenu .sub-menu li.active {
    width: 93%;
    border-radius: 0 30px 30px 0;
    background: var(--bg-sub-menu);
    transition: all .5s ease;
}
.sidebar.close:hover .nav-links .showMenu .sub-menu li.active a::before,
.sidebar .nav-links .showMenu .sub-menu li.active a::before {
    background: #fff;
    opacity: .7;
    transition: all .5s ease;
}
.sidebar.close:hover .nav-links .showMenu .sub-menu li.active a,
.sidebar .nav-links .showMenu .sub-menu li.active a {
    margin-left: 10px;
    transition: all .5s ease;
}
.sidebar.close:hover .nav-links .showMenu .sub-menu li a::before,
.sidebar .nav-links .showMenu .sub-menu li a::before {
    content: '';
    position: absolute;
    top: 12px;
    left: -14px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--bg-sub-menu);
    transition: all .5s ease;
}
.sidebar.close:hover .nav-links li .sub-menu a,
.sidebar .nav-links li .sub-menu a {
    position: relative;
    color: #fff;
    font-size: 13px;
    padding: 5px 0;
    opacity: 0.7;
    transition: all .5s ease;
}
/* .sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
} */
.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    opacity: 0;
    transition: all .4s ease;
}
/* .sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
} */
/* .sidebar .nav-links li .sub-menu .link_name {
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
} */



@media (min-width: 600px) {
    .hideBar {
        display: none;
    }
    section {
        position: relative;
        min-height: 100vh;
        left: 245px;
        margin-top: 5.5rem;
        width: calc(100% - 245px);
        padding: 0 2rem 1rem 2rem;
        transition: all 0.5s ease;
    }
    .sidebar.close ~ section {
        left: 55px;
        width: calc(100% - 55px);
    }
}
@media (max-width: 600px) {
    .navbar {
        z-index: 99;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
    }
    .sidebar.close{
        left: -100%;
    }
    .sidebar{
        width: 260px;
    }
    .sidebar {
        margin-top: 0;
        z-index: 9999999;
    }
    .sidebar-backdrop {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(2px);
        z-index: 999;
    }
    section {
        padding: 5rem 1rem 1rem 1rem;
    }
    .sidebar.close ~ section {
        left: 0;
        width: 100%;
    }
}